{% if posts.pagination.pages is not empty %}
    <div class="bg-white mt-8 px-4 py-3 flex items-center justify-center border-t border-gray-200 sm:px-6">
        <div class="flex-1 flex justify-between sm:hidden">
            {% if posts.pagination.pages|first and posts.pagination.pages|first.current != true %}
                <a href="{{ posts.pagination.prev.link }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500">
                    Précédent
                </a>
            {% else %}
                <span class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-gray-100 hover:text-gray-500">
                    Précédent
                </span>
            {% endif %}
            
            {% if posts.pagination.pages|last and posts.pagination.pages|last.current != true %}
                <a href="{{ posts.pagination.next.link }}" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500">
                    Suivant
                </a>
            {% else %}
                <span class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-gray-100 hover:text-gray-500">
                    Suivant
                </span>
            {% endif %}
        </div>
        
        <nav class="relative z-0 inline-flex shadow-sm -space-x-px" aria-label="Pagination">
            {% if posts.pagination.pages|first and posts.pagination.pages|first.current != true %}
                <a href="{{ posts.pagination.prev.link }}" class="relative inline-flex items-center px-3 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                    <span class="sr-only">Précédent</span>
                    <i class="fa fa-chevron-left"></i>
                </a>
            {% else %}
                <span class="relative inline-flex items-center px-3 py-2 rounded-l-md border border-gray-300 bg-gray-100 text-sm font-medium text-gray-500 hover:bg-gray-50">
                    <span class="sr-only">Précédent</span>
                    <i class="fa fa-chevron-left"></i>
                </span>
            {% endif %}
            
            {% for page in posts.pagination.pages %}
                {% if page.link %}
                    <a href="{{ page.link }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
                        {{ page.title }}
                    </a>
                {% else %}
                    <span class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-gray-100 text-sm font-medium text-gray-700 hover:bg-gray-50">
                        {{ page.title }}
                    </span>
                {% endif %}
            {% endfor %}
            
            {% if posts.pagination.next %}
                <a href="{{ posts.pagination.next.link }}" class="relative inline-flex items-center px-3 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                    <span class="sr-only">Suivant</span>
                    <i class="fa fa-chevron-right"></i>
                </a>
            {% else %}
                <span class="relative inline-flex items-center px-3 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                    <span class="sr-only">Suivant</span>
                    <i class="fa fa-chevron-right"></i>
                </span>
            {% endif %}
        </nav>
    </div>
{% endif %}
